-server
-Xms64m
-Xmx64m
-verbose:gc
-XX:+PrintGCDetails
-XX:+PrintGCDateStamps
-XX:+ExitOnOutOfMemoryError
-Xloggc:/usr/local/druid-mt/log/gc/middleManager-%t.gc.log
-XX:+HeapDumpOnOutOfMemoryError
-XX:HeapDumpPath=/usr/local/druid-mt/log/gc/middleManager.hprof
-Duser.timezone=UTC
-Dfile.encoding=UTF-8
-Djava.io.tmpdir=var/tmp
-Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager
-Dlog4j.configurationFile=/usr/local/druid-mt/conf/druid/middleManager/log4j2.xml
-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=8891
