-server
-Xms4g
-Xmx4g
-XX:MaxDirectMemorySize=8g
-XX:+ExitOnOutOfMemoryError
-XX:+UseG1GC
-XX:+PrintGCDetails
-XX:+PrintGCTimeStamps
-verbose:gc
-Duser.timezone=UTC
-Dfile.encoding=UTF-8
-Djava.io.tmpdir=$DRUID_HOME/tmp
-Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager
-Xdebug -Xrunjdwp:transport=dt_socket,address=0.0.0.0:8883,server=y,suspend=n
