-server
-Xms24g
-Xmx24g
-XX:MaxDirectMemorySize=6144m
-verbose:gc
-XX:+PrintGCDetails
-XX:+PrintGCDateStamps
-XX:+ExitOnOutOfMemoryError
-Xloggc:/usr/local/druid-mt/log/gc/broker-%t.gc.log
-XX:+HeapDumpOnOutOfMemoryError
-XX:HeapDumpPath=/usr/local/druid-mt/log/gc/broker.hprof
-Duser.timezone=UTC
-Dfile.encoding=UTF-8
-Djava.io.tmpdir=var/tmp
-Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager
-Dlog4j.configurationFile=/usr/local/druid-mt/conf/druid/broker/log4j2.xml
