-server
-Xms8g
-Xmx8g
-XX:MaxDirectMemorySize=6144m
-verbose:gc
-XX:+PrintGCDetails
-XX:+PrintGCDateStamps
-XX:+ExitOnOutOfMemoryError
-Xloggc:/usr/local/druid/log/gc/historical-%t.gc.log
-XX:+HeapDumpOnOutOfMemoryError
-XX:HeapDumpPath=/usr/local/druid/log/gc/historical.hprof
-Duser.timezone=UTC
-Dfile.encoding=UTF-8
-Djava.io.tmpdir=var/tmp
-Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager
-Dlog4j.configurationFile=/usr/local/druid/conf/druid/historical/log4j2.xml
-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=8883
